body {
	
	font-family: 'CaviarDreamsRegular';
	width: 99%;
	text-align: center;
}

body a[target="_blank"]{
	display:none;
}

#content {
	font-family:'Century Gothic W01', 'Gothic';
}

#reasons {
	font-family:'Century Gothic W01', 'Gothic';
}

.bold{
	font-family:'Century Gothic W01 Bold', 'GothicB';
}

.title{
	font-family:'Century Gothic W01 Bold', 'GothicB';
}
