body {
	
	font-family: 'CaviarDreamsRegular';
	width: 99%;
	text-align: center;
}

body a[target="_blank"]{
	display:none;
}

#main {
	
}

.title{
	font-family:'Century Gothic W01 Bold', 'GothicB';
}
